# Node
node_modules/
.pnp.cjs
.pnp.loader.mjs

# Rust
/target

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Go
bin/

# Mac / OS
.DS_Store

# Logs
*.log

# Dist
apps/desktop/dist
services/admin_console/.next
