<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>FlowWhisper需要访问您的麦克风以进行语音识别和转录。</string>
	<key>NSCameraUsageDescription</key>
	<string>FlowWhisper需要访问您的摄像头以进行视频通话功能。</string>
</dict>
</plist>